[Desktop Entry]
Name=MyDownloads
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/MyDownloads/MyDownloads.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
